body{
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    /* width: 80%; */
    
}
/* .main_div{
    background-color: cornflowerblue;

} */
ul{
    list-style-image: url("./Images/Red\ Star.png");
}
.div1{
    text-align: center;
    font-size: 20px
}
.name, .address, .contact, .email{
    margin: 12px
}
.div1 .name, .div1 .address span, .div1 .contact span, .div1 .email span {
    font-weight: bold;
}
.div2 h4, .div4 h4, .div9 h4, .div10 h4{
    border: 3px dashed black;
    border-radius: 15px;
    padding: 10px;
    font-size: 30px;
    color: red;
    /* text-align: center; */
}   
.div3 p, .div6 li, .div8 li{
    font-size: 20px;
}
.div6 ul{
    margin-top: -10px;
}
.div3 span{
    font-weight: bold;
}
.dateofbirth, .age, .martialstatus, .religion, .placeofbirth, .gender, .nationality{
    margin-bottom: -10px;
}
.div5 h4, .div7 h4{
    font-size: 25px;
    font-style: oblique;
    text-decoration:underline;
}
.div7 p{
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 40px;
}
.div8 h4{
    font-size: 25px;
    font-style: oblique;
    text-decoration: underline;
    display: inline;
}
.div8 span{
    font-size: 18px;
    margin-left: 25px;
    font-weight: bold;
}
.div9 p, .div10 p{
    font-size: 20px;
    margin-top: -15px;
}
li, p{
    line-height: 30px;
}