
/* body {
            background-color: rgb(183, 182, 182);
            font-family: arial;
        }

        div {
            width: 300px;
            height: 300px;
            position: absolute;
            top: 50%;
            left: 50%;
            line-height: 300px;
            margin: -150px;
            background-color: white;
            color: #03446A;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            animation-name: sample;
            animation-duration: 4s;
            animation-delay: 2s;
            /* animation-timing-function: ease; 
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        @keyframes sample {
            0% {
                border-radius: 0%;
            }
            50%{
                border-radius: 50%;
                background-color: aqua;
                color: black;
                font-size: 37px;
            }
            100% {
                border-radius: 100%;
                background-color: #03446A;
                color: white;
                font-size: 45px;

            }
        } */


        /* .anim_2 {
            height: 70px;
            width: 70px;
            background-color: slateblue;
            position: absolute;
            animation-name: sample_2;
            animation-duration: 6s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        .anim_3{
            height: 70px;
            width: 70px;
            background-color: crimson;
            position: absolute;
            animation-name: sample_3;
            animation-duration: 6s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        @keyframes sample_2 {
            0%{
                top: 0px; left: 0px;
            }
            25%{
                top: 0px; left: 330px;
            }
            50%{
                top: 350px; left: 350px;
            }
            75%{
                top: 250px; left: 0px;
            }
            100%{
                top: 0px; left: 0px;
            }
        }
        @keyframes sample_3 {
            0%{
                top: 0px; left: 80px;
            }
            25%{
                top: 0px; left: 410px;
            }
            50%{
                top: 430px; left: 410px;
            }
            75%{
                top: 330px; left: 0px;
            }
            100%{
                top: 0px; left: 0px;
            }
        } */







/* *{
    margin: 0;
}

.img_div{
    height: 50vh;
    background-color: black;
    display: grid;
    place-items: center;
}

.img_div img{
    height: 30vh;
    width: 30vw;
}
.img_div img:hover{
    /* src: url("./Images/Audi Car - White.jpg"); */
    /* background-image: url("./Images/Audi Car - White.jpg"); 
    height: 50vh;
    width: 50vw;
} */

*{
    margin: 0;
}

img{
    width: 30vw;
    height: 30vh;
}

.card {
    width: 100vw;
    height: 100vh; 
    position: relative;
    display: inline-block;
    display: grid;
    place-items: center;
    background-color: black;
}
.card .img-front {
    display: none;
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 99;  */
}
.card .img-back:hover {
    /* display: none; */
    animation-name: increaseImageSize;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes increaseImageSize {
    0%{
        width: 30vw;
        height: 30vh;    
    }
    50%{
        width: 37vw;
        height: 37vh;    
    }
    100%{
        width: 45vw;
        height: 45vh;    
    }
}
/* .card .img-front:hover {
} */
